*{
  border: 1px black solid;
}


.container{
  display: flex;

}

.grid{
  display: grid;
  height: 500px;
  width: 500px;
  padding: 1em;
}

.buttons{
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}

.slider-output{
  text-align: center;
}